[submodule "submodules/cimgui"]
	path = submodules/cimgui
	url = git@github.com:cimgui/cimgui.git
[submodule "submodules/bx"]
	path = submodules/bx
	url = git@github.com:bkaradzic/bx.git
[submodule "submodules/imgui-beef"]
	path = submodules/imgui-beef
	url = https://github.com/jazzbre/imgui-beef.git
