[submodule "submodules/bx"]
	path = submodules/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "submodules/imgui-beef"]
	path = submodules/imgui-beef
	url = https://github.com/RogueMacro/imgui-beef.git
